In [5]:
from mlxtend.frequent_patterns import apriori, association_rules
import pandas as pd
import matplotlib.pyplot as plt

In [6]:

# 데이터 파일 읽기
df = pd.read_excel("Online Retail.xlsx")
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [27]:
df.loc[df['Country'] == 'United Kingdom']

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
529534,580733,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2011-12-06 08:37:00,2.08,16929.0,United Kingdom
529535,580733,21429,RED GINGHAM ROSE JEWELLERY BOX,16,2011-12-06 08:37:00,1.95,16929.0,United Kingdom
529536,580733,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-06 08:37:00,4.25,16929.0,United Kingdom
529537,580733,84596F,SMALL MARSHMALLOWS PINK BOWL,32,2011-12-06 08:37:00,0.42,16929.0,United Kingdom
529538,580733,84596B,SMALL DOLLY MIX DESIGN ORANGE BOWL,32,2011-12-06 08:37:00,0.42,16929.0,United Kingdom
...,...,...,...,...,...,...,...,...
540272,581474,21253,SET OF PICTURE FRAME STICKERS,1,2011-12-08 20:01:00,0.79,12748.0,United Kingdom
540273,581474,22108,PING! MICROWAVE PLATE,1,2011-12-08 20:01:00,1.25,12748.0,United Kingdom
540274,581474,22167,OVAL WALL MIRROR DIAMANTE,1,2011-12-08 20:01:00,9.95,12748.0,United Kingdom
540275,581474,21929,JUMBO BAG PINK VINTAGE PAISLEY,1,2011-12-08 20:01:00,2.08,12748.0,United Kingdom
540276,581474,20717,STRAWBERRY SHOPPER BAG,1,2011-12-08 20:01:00,1.25,12748.0,United Kingdom

In [12]:
df['InvoiceDate']=pd.to_datetime(df['InvoiceDate'])

In [13]:
df= df[df['InvoiceDate'] >='2011-12-06']

In [14]:
df = df[df['InvoiceDate'] <='2011-12-09']
df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
529534,580733,85099C,JUMBO BAG BAROQUE BLACK WHITE,10,2011-12-06 08:37:00,2.08,16929.0,United Kingdom
529535,580733,21429,RED GINGHAM ROSE JEWELLERY BOX,16,2011-12-06 08:37:00,1.95,16929.0,United Kingdom
529536,580733,21479,WHITE SKULL HOT WATER BOTTLE,4,2011-12-06 08:37:00,4.25,16929.0,United Kingdom
529537,580733,84596F,SMALL MARSHMALLOWS PINK BOWL,32,2011-12-06 08:37:00,0.42,16929.0,United Kingdom
529538,580733,84596B,SMALL DOLLY MIX DESIGN ORANGE BOWL,32,2011-12-06 08:37:00,0.42,16929.0,United Kingdom
...,...,...,...,...,...,...,...,...
540272,581474,21253,SET OF PICTURE FRAME STICKERS,1,2011-12-08 20:01:00,0.79,12748.0,United Kingdom
540273,581474,22108,PING! MICROWAVE PLATE,1,2011-12-08 20:01:00,1.25,12748.0,United Kingdom
540274,581474,22167,OVAL WALL MIRROR DIAMANTE,1,2011-12-08 20:01:00,9.95,12748.0,United Kingdom
540275,581474,21929,JUMBO BAG PINK VINTAGE PAISLEY,1,2011-12-08 20:01:00,2.08,12748.0,United Kingdom
540276,581474,20717,STRAWBERRY SHOPPER BAG,1,2011-12-08 20:01:00,1.25,12748.0,United Kingdom

In [36]:
df.loc[(df['Country'] == 'Denmark')
|(df['Country'] == 'Finland')
|(df['Country'] == 'Norway')
|(df['Country'] =='Sweden')]

df

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
533604,C581071,85099C,JUMBO BAG BAROQUE BLACK WHITE,-1,2011-12-07 11:27:00,2.08,12375.0,Finland